
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <table>
        <th>
            <td>Movies</td>
        </th>
        @foreach (var movie in Model)
        {
            <tr><td>@movie.Name</td></tr>
        }
    </table>
}


